In [4]:
course = input('Write your course name')
discount_coupon = input('Enter your Coupn code')

if course == 'Python':
    if discount_coupon == 'NEW2024':
        print('You have discount of 1000$')
    elif discount_coupon == 'FEB2024':
        print('You have discount of 500$')
    else:
        print('Please write valid coupn code for course of Python')
        
elif course == 'Java':
    if discount_coupon == 'NEW2024':
        print('You have discount of 1000$')
    elif discount_coupon == 'FEB2024':
        print('You have discount of 500$')
    else:
        print('Plese write valid coupn code for course of Java')
        
else:
    print('Plese select valid course')

Write your course nameC++
Enter your Coupn codeyfghc
Plese select valid course

For Loop

In [5]:
l = [1,2,3,4,5]

In [6]:
for num in l:
    print(num)

1
2
3
4
5

In [7]:
for i in l:
    print(i + 10)

11
12
13
14
15

In [9]:
for elements in l:
    print( elements * 2)

2
4
6
8
10

In [10]:
for i in "DATA":
    print(i)

D
A
T
A

In [11]:
p = (10,15,20,25)

In [12]:
for i in p:
    print(i)

10
15
20
25

In [13]:
l = [1,2,3.5,4.5,10+6j, True, 100,150]

In [14]:
for i in l:
    if type(i) == int:
        print(i)

1
2
100
150

In [15]:
g = [1,2,3.5,4.5,10+6j, 'Sachin', 'Dhoni',True, 100,150, 'Data','Science']

In [16]:
for i in g:
    if type(i) == str:
        print(i)

Sachin
Dhoni
Data
Science

In [22]:
k = [[15, 54,52,52],1,2,3.5,4.5,10+6j, True, 100,150, False]

In [23]:
for i in k:
    for num in i:
        print(num)

15
54
52
52

TypeError: 'int' object is not iterable

In [24]:
o = ['Sachin', 'Gambhir','Dhoni','Rohit']

In [25]:
for i in o:
    print(i)

Sachin
Gambhir
Dhoni
Rohit

In [27]:
for i in o:
    for letter in i:
        print(letter)

S
a
c
h
i
n
G
a
m
b
h
i
r
D
h
o
n
i
R
o
h
i
t